
{% extends "base.html" %}
{% block body %}
   <div class="container px-5 py-5 border">
        <div class="card w-50 px-5 py-5 mx-auto">
            <h2>You Are in Wrong Page, goto Home Or contact Admin +91 9319757390</h2>
            <hr>
        <p class="lead">“ Don't Worry We Know the  Error ”</p>
        <hr class="my-4">
        <p>Explore our Website.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/" role="button">HOME</a>
        </p>
    <br><br><br><br>
  </div>
  </div>
{% endblock body %}
